# env variables (never commit secrets)
.env*

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# production
/build

# temp
docs
scripts

# misc
.cursor/rules/ednote-ai-context.mdc
.idea
db_templates